/* Dicas: 

Para selecionar todas linhas iguais no codigo > ctrl + shift + L 
Para selecionar linhas iguais uma a uma no codigo > ctrl + d */



:root{
    /* Para formatar os locais das divs */
    --azul_body: rgb(55, 55, 99);
    --clara: rgb(230, 230, 230);
    --div: rgb(61, 201, 103);

    /* Para inicio do projeto  */
    --Cinza_escuro: #4d4d4d;
    --Cinza_claro: #bebebe;
    --branco_puro: #ffffff;

}

body{
    background-color: var(--Cinza_claro)

}
.conteiner_principal{
    background-color: var(--Cinza_claro);
    padding: 5px;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'cabeca cabeca cabeca cabeca'
    'header header header header'
    'section section section section'
    'footer footer footer footer';
    grid-template-rows: 130px auto auto auto;
}


/* -------------------- Css do cabecalho --------------------  */


.cabecalho{
    background-color: var(--Cinza_claro);
    grid-area: cabeca;

/* Css para os Filhos */
    display: grid;
    grid-template-areas: 
    'logo conta conta'
    'pesquisa pesquisa pesquisa';
    text-align: center;
    align-items: center;
}
.logo{
    grid-area: logo;
    max-height: 100px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: justify;
}
.logo img{
    width: 80px;
    border-radius: 5px;
    padding: 5px;
}
.pesquisa{
    grid-area: pesquisa;
}
.pesquisa label{
    color: var(--Cinza_escuro);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pesquisa input{
    border: none;
    border-radius: 5px;
}
.pesquisa button{
    border: none;
    border-radius: 5px;
    

}
.conta{
    grid-area: conta;
    max-height: 100px;
    text-align: end;
    padding-right: 10px;
    color: var(--branco_puro);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.conta li{
    list-style: none;
    display: inline-block;
    border-bottom: 1px solid;
    padding: 3px;
    border-color: var(--branco_puro);
    border-radius: 3px;
    
}




/* -------------------- Css do header --------------------  */

.header{
    grid-area: header;
    background-color: var(--Cinza_claro);
    padding: 10px;

    display: grid;
    grid-template-areas: 
    'filtro fotos';
}

.filtro{
    grid-area: filtro;
    padding: 0%;
    background-color: var(--Cinza_escuro);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--Cinza_claro);
    max-height: 320px;
    margin-top: 40px;

    
}
label{
    margin-top: 20px;
}
.filtro form{
    margin: auto;
    display: grid;
    
    

}
.filtro label{
    color: var(--Cinza_claro);
}
.filtro input{
    max-width: 100px;
    padding: 0%;
}
.filtro button{
    margin-top: 9px;
    max-width: 150px;
    border-radius: 10px;
}


.fotos{
    grid-area: fotos;
    
    padding: 20px;


}
.fotos img{
    max-width: 200px;

}
.card{
    background-color: #706f6f;
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
    padding: 2px;
    margin: 20px;
    
}
.dados_prod{
    background-color: var(--branco_puro);
    border-radius: 0 0 10px 10px;
    padding: 2px;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}







/* .section{
    grid-area: section;
    background-color: var(--Cinza_claro);
    display: grid;
} */
.footer{
    background-color: var(--Cinza_claro);
    grid-area: footer;
    display: flex;
    background-color: #4d4d4d;
    max-height: 100vh;
    align-items: center;
    padding: 10px;
    text-align: center;
    justify-content:space-between;
}
.pagamentos img{
    max-width: 200px;
    
}
.footer h1{
    font-size: 20px;
    color: var(--Cinza_claro);
    align-content: start;
}
.footer li, ul{
    list-style: none;
    padding: 0%;
    
}



.hover_cinza:hover{
    background-color: var(--Cinza_escuro);
    color: #ffffff;
}

@media only screen and (max-width: 500px) {
    .cards{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        padding: 10px;
        height: 100vh;
    }
    .header{
        grid-area: header;
        background-color: var(--Cinza_claro);
        margin: auto;
    
        display: grid;
        grid-template-areas: 
        'filtro'
        'fotos';
        grid-template-columns: auto;
        place-items: center;
    }
    .filtro form{
        margin: auto;
        display: grid;        
        
    }
    .filtro label{
        color: var(--Cinza_claro);
        text-align: center;
    }
    .filtro input{
        max-width: 100px;
        padding: 0%;
        margin: auto;
    }
    .filtro button{
        min-width: 150px;
        margin: auto;
    }
    .footer{
        display: none;
    }
    .filtro{
        max-width: 300px;
    }

}